.bug-filter {
    background-color: var(--gray2);
    padding: 1em;
}

.bug-filter h2 {
    margin-bottom: .5em;
}

.bug-filter label {
    margin-inline-start: 1em;
}

.sortBy {
    margin-top: 1em;
}
.pagination {
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

